<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="A-Y-A"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <!-- LSPosed Modern Meta-data (API 102 Standard) -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Modul LSPosed A-Y-A (Advanced Hooking Engine)" />
        <meta-data
            android:name="xposedminversion"
            android:value="102" />
        <meta-data
            android:name="xposedscope"
            android:value="systemui,com.android.phone" /> <!-- Sesuaikan target scope -->

        <!-- Google Maps API Key Placeholder -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

    </application>

</manifest>
